textarea#tag {
    border: none;
    text-align: center;
    font-size: 200px;
    display: block;
    width: 100%;
    height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button.bigbtn{
    width: 100%;
    font-size: 200px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Verdana";
}