<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script language="javascript">
        function purge(){
            location.href="/purge_inventory";
        }

    </script>
</head>
<body>
<button onclick="if (confirm('really purge?', 'delete') ) purge();">Purge List</button>
<p>
<ol>
    {% for t in tags -%}
    <li>{{ t }}</li>
    {% endfor %}
</ol>
</p>
</body>
</html>
