<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script language="javascript">

        function copyText(){
            document.querySelector("#tag").select();
            document.execCommand('copy');
            alert("copied "+ document.querySelector("#tag").innerHTML)
        }
    </script>
</head>
<body>
<textarea id="tag" disabled="true">{{tag}}</textarea>
<button   class="bigbtn" onClick="copyText();">Copy</button>
</body></html>